*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: solid green; */
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}
.flex{
    display: flex;
}


:root{
    --spotigreen: #adfa2e;
    --bg-blue: #141922;
    --f-grey:#282828;
    --text:#6d6f74;
}
ul{
    list-style: none;
}
li{
    color: var(--text);
}

h2{
    color: whitesmoke;
    margin-bottom: 0.5rem
}

/* °°°°°°°°°°°°°°°°°°°°°°°
        Struttura
°°°°°°°°°°°°°°°°°°°°°°° */
header{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;    
    top: 0;
    right: 0;
    left: 0;
}

main{
    flex-flow: row nowrap;
    height: calc(100vh - 150px); 
}
/* °°°°°°°°°°°°°°°°°°°°°°°
        Side
°°°°°°°°°°°°°°°°°°°°°°° */
#sidebar{
    width: 300px;
    height: calc(100vh - 150px);
    background-color: black;
    overflow: hidden;
    padding: 1rem;
}

#sidebar .logo .small{
    display: none;
}
.logo{
    justify-content: flex-start;
    align-items: center;
}
.logo .big{
    height: 50px;
}

.side-spacer{
    height: calc(100% - 50px);
    flex-flow: column nowrap;
    justify-content: space-between;
}

.side-item{
    height: 40px;
    align-items: center;
}
.sidemenu img{
    width: 30px;
}

.new-playlist{
    align-items: center;
}
.new-playlist i{
    margin-right: 0.5rem;
}

.playlist-list{
    margin-top: 0.5rem;
    overflow: scroll;
    min-height: 150px;
    height: 250px;
}

.playlist-list li{
    margin-bottom: 1rem;
}

.profile .side-item img{
    width: 20px;
    margin-right: 0.5rem;
}
.prof-pic{
    border-top: 3px solid var(--f-grey);
}
.prof-pic img{
    width: 30px;
    background-color: var(--f-grey);
    border-radius: 50%;
}
/* °°°°°°°°°°°°°°°°°°°°°°°
        Content
°°°°°°°°°°°°°°°°°°°°°°° */
.wrapper{
    background-color: var(--bg-blue);
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.hero{
    padding: 2rem;
}

.hero section{
    margin-bottom: 4rem;
}
.category{
    padding: 1rem;
    justify-content: space-around;
}   

.category ul{
    flex-wrap: wrap;
}
.category li{
    padding: 10px;
}
.slide-albums{
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.album-card{
    width: calc(100% / 6 - 25px);
    flex-flow: column wrap;
    text-align: center;
}

.album-card img{
    width: 100%;
}
.album-card h3{
    color: whitesmoke;
}

.album-card h3{
    margin: 1rem 0;
}

.artist .img-container img{
    border-radius: 50%;
}


/* °°°°°°°°°°°°°°°°°°°°°°°
        Foot
°°°°°°°°°°°°°°°°°°°°°°° */
footer{
    height: 150px;
    background: darkcyan;
    width: 100%;
}


/* °°°°°°°°°°°°°°°°°°°°°°°
        media query
°°°°°°°°°°°°°°°°°°°°°°° */
@media screen and (max-width: 878px){ 
    .album-card{
        width: calc(100% / 4 - 25px);
    }
    
}

@media screen and (max-width: 639px){ 
    .album-card{
        width: calc(100% / 2 - 25px);

    }
    
}