*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: solid green; */
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}
.flex{
    display: flex;
}


:root{
    --spotigreen: #adfa2e;
    --bg-blue: #141922;
    --f-grey:#282828;
    --text:#6d6f74;
}
ul{
    list-style: none;
}
li{
    color: var(--text);
}

h2{
    color: whitesmoke;
    margin-bottom: 0.5rem
}

/* °°°°°°°°°°°°°°°°°°°°°°°
        Struttura
°°°°°°°°°°°°°°°°°°°°°°° */
header{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;    
    top: 0;
    right: 0;
    left: 0;
}

main{
    flex-flow: row nowrap;
    height: calc(100vh - 100px); 
}
/* °°°°°°°°°°°°°°°°°°°°°°°
        header
°°°°°°°°°°°°°°°°°°°°°°° */
.header-cont{
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

.upgrade{
    color: whitesmoke;
    border-radius: 30px;
    border: solid whitesmoke;
    padding: 10px 25px;
    transition: 1s;
}

.upgrade:hover {
    scale: 1.1;
}
/* °°°°°°°°°°°°°°°°°°°°°°°
        Side
°°°°°°°°°°°°°°°°°°°°°°° */
#sidebar{
    width: 300px;
    height: calc(100vh - 100px);
    background-color: black;
    overflow: hidden;
    padding: 1rem;
}

#sidebar .logo .small{
    display: none;
}
.logo{
    justify-content: flex-start;
    align-items: center;
}
.logo .big{
    height: 50px;
}

.side-spacer{
    height: calc(100% - 50px - 100px);
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-top: 2rem;
    overflow: hidden;
}

.side-item{
    height: 40px;
    padding: 2px;
    align-items: center;
    position: relative;
}
.sidemenu img{
    width: 30px;
}

.side-item::after{
    content: "";
    width: 3px;
    height: 80%;
    background-color: var(--spotigreen);
    position: absolute;
    left: -1%;
    bottom: 10%;
    opacity: 0%;
}

.side-item:hover .icon-text{
    color: whitesmoke;
}
.side-item:hover::after{
    opacity: 100%;
}
.playlist{
    margin-top: 2rem;
    flex-grow: 1;
    max-height: 65%;
}
.new-playlist{
    align-items: center;
}
.new-playlist i{
    margin-right: 0.5rem;
}

.playlist-list{
    margin-top: 0.5rem;
    overflow: scroll;
    min-height: 150px;
    height: 250px;
    overflow-x: hidden;
    
}

.playlist-list li{
    margin-bottom: 1rem;
}
.profile{
    height: 80px;
}
.profile .side-item img{
    width: 20px;
    margin-right: 0.5rem;
}
.prof-pic{
    border-top: 3px solid var(--f-grey);
}
.prof-pic img{
    width: 30px;
    background-color: var(--f-grey);
    border-radius: 50%;
}
/* °°°°°°°°°°°°°°°°°°°°°°°
        Content
°°°°°°°°°°°°°°°°°°°°°°° */
.wrapper{
    background-color: var(--bg-blue);
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.hero{
    padding: 2rem;
}

.hero section{
    margin-bottom: 4rem;
}
.category{
    padding: 1rem;
    justify-content: space-around;
}   

.category ul{
    flex-wrap: wrap;
}
.category li{
    padding: 10px;
    position: relative;
}

.category li::after{
    content: "";
    width: 50%;
    height: 3px;
    background-color: var(--spotigreen);
    position: absolute;
    left: 25%;
    bottom: 0;
    opacity: 0%;
}

.category li:hover{
    color: whitesmoke;
}
.category li:hover::after{
    opacity: 100%;
}

.slide-albums{
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.album-card{
    width: calc(100% / 6 - 25px);
    flex-flow: column wrap;
    text-align: center;
}
.img-container{
    position: relative;
}
.album-card img{
    width: 100%;
}
.album-card h3{
    color: whitesmoke;
}

.album-card h3{
    margin: 1rem 0;
}

.artist .img-container img{
    border-radius: 50%;
}

.play-hover{
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
}

.album-card:hover .play-hover{
    display: flex;
}

.artist .play-hover{
    border-radius: 50%;
}
/* °°°°°°°°°°°°°°°°°°°°°°°
        Foot
°°°°°°°°°°°°°°°°°°°°°°° */
footer{
    height: 100px;
    background: var(--f-grey);
    width: 100%;
    padding: 1rem;
}
.footer-container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.f-left{
    flex-flow: row nowrap;
    /* justify-content: space-between; */
    align-items: center;
    width:300px;

}
.f-left img{
    width: 50px;
    margin-right: 1rem;
}
.f-left i{
    margin-right: 0.5rem;
}

.playing-info{
    flex-flow: column nowrap;
}

.playing-info .playing-artist{
    color: whitesmoke;
}

.playing-info .playing-title{
    font-size: 12px;
}

.f-left-icons{
    margin-left: 2rem;
}

.f-center{
    flex-flow: column nowrap;
    flex-basis: 40%;
}

.controls{
    align-items: center;
    justify-content: center;    
}

.controls i{
    color: whitesmoke;
    margin:1rem;
}

.circled{
    border: solid whitesmoke;
    border-radius: 50%;
    padding: 5px;

}
.circled:hover{
    scale: 1.2;
}
.progress{
    width: 80%;
    margin: 0 auto;
    height: 2rem;
}
.progressbar{
    width: 100%;
    height: 5px;
    background-color: #585858;
    border-radius: 3px;
    position: relative;
}

.progress-current{
    position: absolute;
    left: 0%;
    width: 30%;
    height: 5px;
    border-radius: 3px;
    background-color: whitesmoke;

}
.ball{
    position: absolute;
    height: 15px;
    width: 15px;
    right: 0;
    background-color: white;
    border-radius: 50%;
    bottom: -5px;
    display: none;
}

.progressbar:hover .progress-current{
    background-color: var(--spotigreen);
}
.progressbar:hover .ball{
    display: block;
}

.progressbar::before{
    content: "0.25";
    color: whitesmoke;
    position: absolute;
    left: -50px;
    top: -7px;
    font-size: 12px;
}

.progressbar::after{
    content: "4:35";
    color: whitesmoke;
    position: absolute;
    right: -50px;
    top: -7px;
    font-size: 12px;
}

.f-right{
    width: 300px;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;

}
.f-right i{
    color: whitesmoke;
}
    
.volumebar{
    width: 50%;
    height: 5px;
    background-color: #585858;
    border-radius: 3px;
    position: relative;
}

.volumebar:hover .progress-current{
    background-color: var(--spotigreen);
}
.volumebar:hover .ball{
    display: block;
}

/* °°°°°°°°°°°°°°°°°°°°°°°
        media query
°°°°°°°°°°°°°°°°°°°°°°° */
@media screen and (max-width: 1100px){ 
    .album-card{
        width: calc(100% / 4 - 25px);
    }
    
}

@media screen and (max-width: 840px){ 
.f-left{
    width: 10%;
    }  
.f-right{
    width: 10%;
    }  
}


@media screen and (max-width: 700px){ 
    .album-card{
        width: calc(100% / 2 - 25px);

    }
    
}

@media screen and (max-width: 600px){

    #sidebar{
        width: 75px
    }
    #sidebar .big{
        display: none;
    }
    #sidebar .small{
        display: block;
    }
    #sidebar .logo .small{
        display: block;
        height: 35px;
        margin-bottom: 1rem;
    }
    .side-spacer{
        gap: 23rem;
    }
    .prof-pic{
        border-top: none;
    }
    .playlist{
        display: none;
    }

    .f-left img{
        width: 25px;
        margin-right: 1rem;
    }
    .f-left-icons{
        margin-left: 0.5rem;
    }
    .controls i{
        color: whitesmoke;
        margin:0.25rem;
    }
    .progress{
        height: 1rem;
    }
}